
:root {
  --radius-md: 1rem;
  --spacing: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

.grid {
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  border-radius: var(--radius-md);
  margin-bottom: var(--spacing);
}

header > article {
  padding: var(--pico-spacing) var(--pico-block-spacing-horizontal);
}

body > main {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

body > main > aside {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10000;
  width: 100%;
  max-width: 10rem;
  height: fit-content;
  top: 7rem;
  background-color: var(--pico-background-color);
}

aside > .container {
  top: 7rem;
  background-color: var(--pico-background-color);
}

aside .nav-content {
  display: grid;
  row-gap: 1rem;
}

aside > .hamburger {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 60px;
  width: 30px;
  cursor: pointer;
  margin-left: 25px;
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}
aside:focus-within > .container {
  display: block;
}

html[data-theme="dark"] .outline {
  border: 1px solid #333;
}

html[data-theme="light"] .outline {
  border: 1px solid #bdbdbd;
}

.smaller {
  width: 80%;
  margin: 0 auto;
}

section details, section section ~ hr, section details ~ hr {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

#electromagnetics [role="group"] {
  width: 100%;
}

.a4-paper {
  aspect-ratio: 4/3;
}

@media (max-width: 1024px) {
  body>main {
    grid-template-columns: 1fr;
  }

  body > main > aside {
    max-width: 100vw;
    border-bottom: 1px solid var(--pico-muted-border-color);
    top: 0;
  }

  body > main > aside > .container {
    display: none;
    position: fixed;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 4rem;
  }

  aside > .hamburger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .smaller {
    width: 95%;
  }
}

@media (max-width: 576px) {
  aside>div {
    text-align: center;
  }

  aside .nav-content {
    row-gap: 1.5rem;
  }
  aside .nav-content:last-child {
    margin-bottom: 1.5rem;
  }

  .smaller {
    width: 100%;
  }

  button {
    padding: var(--pico-form-element-spacing-vertical);
  }

  section details, section details + hr, section hr + details {
    width: 100%;
  }

  .a4-paper {
    aspect-ratio: 2/3;
  }
}
