
.grid {
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

header > article {
  padding: var(--pico-block-spacing-horizontal);
}

body > main {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

html[data-theme="dark"] .outline {
  border: 1px solid #333;
}

html[data-theme="light"] .outline {
  border: 1px solid #bdbdbd;
}

.smaller {
  width: 80%;
  margin: 0 auto;
}

input:checked + label {
  text-decoration: line-through;
  color: var(--pico-secondary);
}

section details, section section ~ hr, section details ~ hr {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.stretch, #electromagnetics [role="group"] {
  width: 100%;
}

.a4-paper {
  aspect-ratio: 4/3;
}

@media (max-width: 1024px) {
  body>main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .smaller {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .smaller {
    width: 100%;
  }

  button {
    padding: var(--pico-form-element-spacing-vertical);
  }

  section details, section details + hr, section hr + details {
    width: 100%;
  }

  .a4-paper {
    aspect-ratio: 2/3;
  }
}
